.display-card{
    -fx-background-radius: 10;
    -fx-border: 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 200, 0, 10, 0);
}

.round-template-inner{
    -fx-background-radius: 10 10 5 5;
}

.transparent-template{
    -fx-background-color: transparent;
}

.type-css{
    -fx-background-color: rgb(119, 82, 254);
    -fx-background-radius: 5;
}

.scroll-pane-wordview {
    -fx-hbar-policy: never;
    -fx-border-color: rgb(142, 143, 250);
    -fx-border: 0;
    -fx-border-width: 2 2 2 2;
    -fx-border-radius: 0 5 5 5;
    -fx-background-insets: 0;
    -fx-background: white;
}

.scroll-pane-wordview .scroll-bar:vertical {
    -fx-pref-width: 7px;
    -fx-background-color: transparent;
    -fx-padding-bottom: 100;
}

.scroll-pane-wordview .thumb{
    -fx-background-color: rgb(119, 82, 254);
}

.scroll-pane-wordview .increment-button, .decrement-button{
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-pref-width: 10;
}

.scroll-pane-wordview .increment-arrow, .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}

.search-container{
    -fx-border-image-insets: 0 0 0 0;
    -fx-padding: 5px;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #999;

}

.search-container:focus-within{
    -fx-border-color: #4d59fd
}


.explain-card-template{
    -fx-border-color: rgb(119, 82, 254);
    -fx-background-color: white;
    -fx-border-radius: 5;
    -fx-border-width: 2;
}

.search-button{
    -fx-background-color: rgb(142, 143, 250);
    -fx-background-radius: 0;
    -fx-border-width: 0;
}

.game-mode-button{
    -fx-background-radius: 5;
    -fx-border-color: rgb(119, 82, 254);
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 1, 0, 3, 2);
    -fx-text-fill: rgb(142, 143, 250);
    -fx-font-weight: bold;
    -fx-font-family: "Corbel";
    -fx-font-size: 21;
    -fx-content-display: center;
    -fx-alignment: center;
}

.game-mode-button:hover{
    -fx-cursor: hand;
    -fx-background-color: rgb(194, 217, 255);
    -fx-font-size: 21;
}

.game-mode-choosen{
    -fx-background-color: rgb(119, 82, 254);
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgb(25, 4, 130), 1, 0, 5, 3);
    -fx-font-weight: bold;
    -fx-font-family: "Corbel";
    -fx-font-size: 21;
    -fx-content-display: center;
    -fx-alignment: center;
}

.game-mode-choosen:hover{
    -fx-cursor: hand;
}

.play-button{
    -fx-background-radius: 5;
    -fx-border-color: rgb(119, 82, 254);
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 1, 0, 3, 2);
    -fx-text-fill: rgb(142, 143, 250);
    -fx-font-weight: bold;
    -fx-font-size: 22;
}

.play-button:hover{
    -fx-cursor: hand;
    -fx-background-radius: 5;
    -fx-border-color: rgb(119, 82, 254);
    -fx-background-color: rgb(119, 82, 254);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 1, 0, 3, 2);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 22;
}

.game-back-to-menu{
    -fx-cursor: hand;
}

.addword-button{
    -fx-background-radius: 2.5;
    -fx-border-color: rgb(119, 82, 254);
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-text-fill: rgb(142, 143, 250);
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.update-button{
    -fx-background-radius: 2.5;
    -fx-border-color: rgb(119, 82, 254);
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-text-fill: rgb(142, 143, 250);
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

.update-button:hover{
    -fx-background-color: rgb(142, 143, 250);
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.addword-button:hover{
    -fx-background-color: rgb(156, 190, 255, 0.2);
    -fx-cursor: hand;
}

.other-meaning-label{

}

.other-meaning-label:hover{
    -fx-cursor: hand;
    -fx-text-fill: rgb(142, 143, 250);
    -fx-underline: true;
}