.menu-button{
    -fx-background-color: rgb(119, 82, 254);
    -fx-padding: 5;
    -fx-transition: background-color 1s;
}

.menu-button:hover{
    -fx-cursor: hand;
}

.navigation-bar{
    -fx-background-radius: 0 5 5 0;
}

.nav-label{
    -fx-background-color: rgb(119, 82, 254);
    -fx-background-radius: 5;
}

.nav-label:hover{
    -fx-cursor: hand;
    -fx-background-color: rgb(142, 143, 250);
}

.nav{
    -fx-background-radius: 5;
}

.task-button{
    -fx-background-radius: 5;
    -fx-background-color: rgb(119, 82, 254);
}

.task-button:hover{
    -fx-background-color: rgb(142, 143, 250);
    -fx-cursor: hand;
}

.result_display{
    -fx-border-radius: 0 0 5 5;
    -fx-background-radius: 0 0 10 10;
    -fx-border-width: 0 0 0 0;
    -fx-border-insets: 0 43 0 15;
    -fx-background-color: white;
    -fx-border-color: rgb(119, 82, 254);
}

.label-style{
    -fx-font-size: 14px;
    -fx-pref-width: 412;
    -fx-background-radius: 5;
    -fx-padding: 0 0 0 5;
}

.not-found-style{
    -fx-font-size: 14px;
    -fx-text-fill: #b1a9a9;
    -fx-background-radius: 5;

}

.label-style:hover{
    -fx-background-color: rgba(172, 165, 204, 0.5);;
    -fx-cursor: hand;
}

.label-style:focused{
    -fx-background-color: rgba(172, 165, 204, 0.5);;
}

.tab-label{
    -fx-border-color: rgb(142, 143, 250);
    -fx-background-color: rgb(142, 143, 250);
    -fx-text-fill: white;
    -fx-background-radius: 5 5 0 0;
    -fx-border-radius: 5 5 0 0;
    -fx-border-width: 2 2 0 2;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-font-family: 'Corbel';
    -fx-pref-width: 147;
    -fx-pref-height: 34;
    -fx-alignment: center;
}

.unchoose-tab-label{
    -fx-border-color: rgb(142, 143, 250);
    -fx-background-color: white;
    -fx-text-fill: rgb(142, 143, 250);
    -fx-background-radius: 5 5 0 0;
    -fx-border-radius: 5 5 0 0;
    -fx-border-width: 2 2 0 2;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-font-family: 'Corbel';
    -fx-pref-width: 147;
    -fx-pref-height: 34;
    -fx-alignment: center;
}

.unchoose-tab-label:hover{
    -fx-cursor: hand;
}
