.menu-button{
    -fx-background-color: rgb(119, 82, 254);
    -fx-padding: 5;
    -fx-transition: background-color 1s;
}

.menu-button:hover{
    -fx-cursor: hand;
}

.navigation-bar{
    -fx-background-radius: 0 5 5 0;
}

.nav-label{
    -fx-background-color: rgb(119, 82, 254);
    -fx-background-radius: 5;
}

.nav-label:hover{
    -fx-cursor: hand;
    -fx-background-color: rgb(142, 143, 250);
}

.nav{
    -fx-background-radius: 5;
}

.task-button{
    -fx-background-radius: 5;
    -fx-background-color: rgb(119, 82, 254);
}

.task-button:hover{
    -fx-background-color: rgb(142, 143, 250);
    -fx-cursor: hand;
}

.result_display{
    -fx-border-radius: 0 0 5 5;
    -fx-background-radius: 0 0 10 10;
    -fx-border-width: 0 3 3 3;
    -fx-background-color: white;
    -fx-border-color: rgb(119, 82, 254);
}

.label-style{
    -fx-font-size: 14px;
    -fx-pref-width: 350;
    -fx-background-radius: 5;
    -fx-padding: 0 0 0 5;
}

.not-found-style{
    -fx-font-size: 14px;
    -fx-text-fill: #b1a9a9;
    -fx-background-radius: 5;
}

.label-style:hover{
    -fx-background-color: rgb(185, 180, 199);
    -fx-cursor: hand;
}