.menu-button{
    -fx-background-color: rgb(119, 82, 254);
    -fx-padding: 5;
    -fx-transition: background-color 1s;
}

.menu-button:hover{
    -fx-cursor: hand;
}

.navigation-bar{
    -fx-background-radius: 0 5 5 0;
}

.nav-label{
    -fx-background-color: rgb(119, 82, 254);
    -fx-background-radius: 5;
}

.nav-label:hover{
    -fx-cursor: hand;
    -fx-background-color: rgb(142, 143, 250);
}

.nav{
    -fx-background-radius: 5;
}

.task-button{
    -fx-background-radius: 5;
    -fx-background-color: rgb(119, 82, 254);
}

.task-button:hover{
    -fx-background-color: rgb(142, 143, 250);
    -fx-cursor: hand;
}

.separator{

}